<!-- Content -->
<div id="contact-us-content">
    <div class="container main-container" ng-scrollbars ng-scrollbars-config="config">
        <!--   <div class="row no-margin">
                   <div class="col-xs-12 col-sm-12">
                        <div class="row no-margin ">
                            <p class="contact-us-heading">CONTACT US</p>
                        </div>
                    </div>-->
        <div class="container">
            <div print-remove style="display: block;">
                <div class="row page-content no-margin" id="inputs">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row goal-heading mb15">
                            <h3>CONTACT US</h3>
                        </div>
                    </div>
                    <div class="col-md-12 login-col no-padding">
                        <form name="contact-form" ng-submit="" role="form">
                            <div class="contact-form-header">
                                <h1 class="">Complete your details below and our qualified specialist will contact you by phone and or email to introduce the services that you are interested in.</h1>
                            </div>
                            <div class="contact-content ">
                                <div class="form-group col-md-6 group-left">
                                    <input id="firstname" ng-model="contact.firstname" type="text" class="form-control" name="first name" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6 group-right">
                                    <input id="lastname" ng-model="contact.lastname" type="text" class="form-control" name="last name" placeholder="Last Name">
                                </div>

                                <div class="form-group col-md-6 group-left">
                                    <input id="dealer" ng-model="contact.dealer" type="text" class="form-control" name="dealer" placeholder="Company">
                                </div>

                                <div class="form-group col-md-6 group-right">
                                    <input id="email" ng-model="contact.mail" type="email" class="form-control" name="email" placeholder="Email Id">
                                </div>
                                <div class="form-group col-md-6 group-left">
                                    <input id="mobile" ng-model="contact.phone" type="number" class="form-control" name="phone" placeholder="Phone">
                                </div>

                                <div class="form-group col-md-6 group-right">
                                    <input id="email" ng-model="contact.mobile" type="number" class="form-control" name="mobile" placeholder="Mobile">
                                </div>

                                <div class="form-group col-md-6 group-left">
                                    <input id="email" ng-model="contact.city" type="text" class="form-control" name="city" placeholder="City">
                                </div>

                                <div class="form-group col-md-6 group-right">
                                    <input id="email" ng-model="contact.state" type="text" class="form-control" name="state" placeholder="State or Territory">
                                </div>


                                <div class="form-actions col-md-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-12 contact-footer no-padding">
                        <div class="col-md-6 no-padding">
                            <div class="col-md-4 no-padding">
                                <p class="state-text">Sydney:</p>
                            </div>
                            <div class="col-md-8">
                                <p class="contact-address">Suite 4, 32 Delhi Rd,
                                    <br>North Ryde NSW 2113</p>
                            </div>

                        </div>
                        <div class="col-md-6 no-padding">

                            <div class="col-md-4 ">
                                <p class="state-text">Phone:</p>
                            </div>
                            <div class="col-md-8">
                                <p class="contact-address">1300 664 118</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 no-padding">
                        <div class="col-md-6 no-padding">
                            <div class="col-md-4 no-padding">
                                <p class="state-text">Melbourne:</p>
                            </div>
                            <div class="col-md-8">
                                <p class="contact-address">Level 2, 838 Collins Street,
                                    <br>Melbourne 3000</p>
                            </div>

                        </div>
                        <div class="col-md-6 no-padding">

                            <div class="col-md-4 ">
                                <p class="state-text">Email:</p>
                            </div>
                            <div class="col-md-8">
                                <p class="contact-address">info@FinancialChoice.com.au
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /Content -->