<!-- Content -->
<div id="goal-based-content">
    <div class="main-container goal-based-container" >
        <div class="container">
            <div print-remove style="display: block;">
                <div class="row page-content no-margin" id="inputs">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row goal-heading">
                            <h3>GOALS BASED ADVICE</h3>
                        </div>
                    </div>


                    <div class="col-md-12 goal-block" ng-repeat="goal in goalBasedAdvice">
                        <i class="selected-goal" ng-if="goal.severity!='false'" ng-click="removeGoal($index, 'Low')"></i>
						<p class="custom-tooltip" ng-class="{'showInitialTooltip' : showTooltip === $index}">Click here to unselect your goal!</p>
                        <div class="col-md-4 img-block no-padding">
                            <img class="goal-img" src="{{goal.image}}">
                        </div>
                        <div class="col-md-8 no-padding goal-text-block">
                            <div class="col-md-12 no-padding">
                                <p class="goalblock-heading">{{goal.heading}}</p>
                            </div>

                            <div class="col-md-12 no-padding text-margin">
                                <p class="goalblock-text">{{goal.text}}</p>
                                <p class="goalblock-subhead">Have you thought of the following:</p>
                                <ul class="goalbased-list">
                                    <li class="goalblock-text">{{goal.listOne}}</li>
                                    <li class="goalblock-text">{{goal.listTwo}}</li>
                                    <li class="goalblock-text">{{goal.listThree}}</li>

                                </ul>

                            </div>

                            <div class="col-md-12 no-padding text-margin button-div" ng-if="goal.severity=='false'">
                                <button class="goal-button" ng-click="addGoal($index, 'Low')">ADD GOAL</button>
                            </div>
                            <div class="col-sm-12 no-padding text-margin button-div" ng-if="goal.severity!='false'">
                                <p class="goal-cal-text">How important is it to you?</p>
                                <div class="btn-group">
                                    <label class="btn btn-success goal-button" ng-model="goal.severity" uib-btn-radio="'Low'" uib-uncheckable="uncheckable">LOW</label>
                                    <label class="btn btn-success goal-button" ng-model="goal.severity" uib-btn-radio="'Medium'" uib-uncheckable="uncheckable">MEDIUM</label>
                                    <label class="btn btn-success goal-button" ng-model="goal.severity" uib-btn-radio="'High'" uib-uncheckable="uncheckable">HIGH</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row calculate-row">
                    <div class="col-xs-12">
                        <button ng-click="saveGoals()" name="calculatorSubmit" class="btn btn-primary btn-lg btn-block submit-calculator">Click here to submit your goals</button>
                        <!--<button class="btn btn-block submit-button" type="submit">Click here to see the results</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Content -->