<!-- Content -->
<div id="login-content">
    <div class="container main-container">
        <div class="row no-margin">
            <div class="col-md-6 login-col">
                <div class="login-form-header">
                    <h1 class="text-center ">Financial Advisor Login</h1>
                </div>
                <div class="login-content">
                    <div class="form-group ">
                        <input id="name" type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="form-group ">
                        <input id="dealer" type="text" class="form-control" name="dealer" placeholder="Dealer Group">
                    </div>
                    <div class="form-group">
                        <input id="mobile" type="number" class="form-control" name="mobile" placeholder="Mobile Phone">
                    </div>
                    <div class="form-group ">
                        <input id="email" type="email" class="form-control" name="email" placeholder="Email Id">
                    </div>
                    <div class="terms">
                        <input type="checkbox" id="terms1" name="terms1">
                        <label for="terms1"><span>I agree with the <b>Terms & Conditions</b></span></label>
                    </div>
                    <!--  <div class="checkbox">
                        <label class="remember">
                            <input name="terms" type="checkbox"><span>I agree with the <b>Terms & Conditions</b></span>
                        </label>
                    </div>-->

                    <div class="form-group ">
                        <a href="#" type="button" class="btn btn-primary btn-lg btn-block login-button">login in</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 login-col">
                <div class="login-form-header">
                    <h1 class="text-center ">Client Login </h1>
                </div>
                <div class="login-content">
                    <div class="form-group ">
                        <input id="name" type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="form-group ">
                        <input id="email" type="email" class="form-control" name="email" placeholder="Email Id">
                    </div>
                    <div class="form-group ">
                        <input id="phone" type="number" class="form-control" name="phone" placeholder="Phone No">
                    </div>

                    <div class="terms advisor">
                        <input type="checkbox" id="advisorcheck" name="advisorcheck" ng-model="isFinancialAdvisor">
                        <label for="advisorcheck"><span>Do you have a Financial Advisor?</span></label>
						<p ng-if="isFinancialAdvisor">Please complete your Financial Advisor Details</p>
                    </div>
                    <div class="terms client-terms" ng-class="{'is-financial-advisor' : isFinancialAdvisor}">
                        <input type="checkbox" id="terms2" name="terms2">
                        <label for="terms2"><span>I agree with the <b>Terms & Conditions</b></span></label>
                    </div>

                    <div class="form-group" ng-if="!isFinancialAdvisor">
                        <a href="#" type="button" class="btn btn-primary btn-lg btn-block login-button" ui-sref="app.welcome">login in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Content -->