<!-- Content -->
<div id="login-content">
    <div class="container main-container">
        <div class="row no-margin">
            <!-- Financial Advisor -->
            <div class="col-md-6 login-col">
				<!-- Signup -->
                <form name="advisorSignupForm" ng-show="advisorSignUp" novalidate>
                    <div class="login-form-header">
                        <h1 class="text-center ">Financial Advisor Login</h1>
                    </div>
                    <div class="login-content">
                        <div class="form-group ">
                            <input id="firstname" ng-model="advisor.firstName" type="text" class="form-control" name="firstname" placeholder="First Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                            <span ng-show="(advisorSignupForm.firstname.$dirty || advisorSignupForm.$submitted) && advisorSignupForm.firstname.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorSignupForm.firstname.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Firstname"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="lastname" ng-model="advisor.lastName" type="text" class="form-control" name="lastname" placeholder="Last Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                            <span ng-show="(advisorSignupForm.lastname.$dirty || advisorSignupForm.$submitted) && advisorSignupForm.lastname.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorSignupForm.lastname.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Lastname"></i>
							</span>
                        </div>

                        <div class="form-group ">
                            <input id="dealer" ng-model="advisor.dealer" type="text" class="form-control" name="dealer" placeholder="Dealer Group" autocomplete="off" required>
                            <span ng-show="(advisorSignupForm.dealer.$dirty || advisorSignupForm.$submitted) && advisorSignupForm.dealer.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                        </div>
                        <div class="form-group">
                            <input id="mobile" ng-model="advisor.mobile" type="number" class="form-control" name="mobile" placeholder="Mobile Phone" autocomplete="off" maxlength='10' minlength='10' required>
                            <span ng-show="(advisorSignupForm.mobile.$dirty || advisorSignupForm.$submitted) && advisorSignupForm.mobile.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorSignupForm.mobile.$error.maxlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                            <span ng-show="advisorSignupForm.mobile.$error.minlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="email" ng-model="advisor.email" type="email" class="form-control email" name="email" placeholder="Email Id" autocomplete="off" ng-pattern="/^[a-z]+[a-z0-9]+@[a-z]+\.[a-z.]{2,5}$/" required>
                            <span ng-show="(advisorSignupForm.email.$dirty || advisorSignupForm.$submitted) && advisorSignupForm.email.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorSignupForm.email.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Email"></i>
							</span>
                        </div>
                        <div class="terms">
                            <input type="checkbox" id="advisorTerms" name="advisorTerms" ng-model="agreeTerms" required>
                            <label for="advisorTerms"><span>I agree with the <b>Terms & Conditions</b></span></label>
                            <span class="error-span" ng-show="(advisorSignupForm.advisorTerms.$dirty || advisorSignupForm.$submitted) && advisorSignupForm.advisorTerms.$error.required">
								  Please indicate that you accept the <b>Terms & Conditions</b>
							</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" name="advisorSubmit" ng-disabled="advisorSignupForm.$invalid" class="btn btn-primary btn-lg btn-block login-button" ng-click="registerUser(advisor, advisorSignupForm.$valid)">Sign Up</button>
                        </div>
                        <div class="form-change-link text-center">
                            <span>Already have account? <a ng-click="advisorSignUp = false"><b>Login</b></a></span>
                        </div>
                    </div>
                </form>
				
				<!-- Login -->
                <form name="advisorLoginForm" ng-show="(advisorLogin && !advisorSignUp)" novalidate>
                    <div class="login-form-header">
                        <h1 class="text-center ">Financial Advisor Login</h1>
                    </div>
                    <div class="login-content">
                        <div class="form-group text-center">
                            <img src="../assets/images/login-icon.png" style="padding: 35px 0;" />
                        </div>
                        <div class="form-group" style="margin-bottom: 25px;">
                            <input id="mobile" ng-model="advisor.phone" type="number" class="form-control" name="mobile" placeholder="Mobile Phone" autocomplete="off" maxlength='10' minlength='10' required>
                            <span ng-show="(advisorLoginForm.mobile.$dirty || advisorLoginForm.$submitted) && advisorLoginForm.mobile.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorLoginForm.mobile.$error.maxlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                            <span ng-show="advisorLoginForm.mobile.$error.minlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" name="advisorSubmit" ng-disabled="advisorLoginForm.$invalid" class="btn btn-primary btn-lg btn-block login-button" ng-click="loginUser(advisor, advisorLoginForm.$valid)">Login</button>
                        </div>
                        <div class="form-change-link text-center">
                            <span>Don't have account? <a ng-click="advisorSignUp = true"><b>Sign up</b></a></span>
                        </div>
                    </div>
                </form>
				
				<!-- OTP -->
				<form name="advisorOtpForm" ng-show="(advisorOtp && !advisorLogin)" novalidate>
                    <div class="login-form-header">
                        <h1 class="text-center ">Financial Advisor Login</h1>
                    </div>
                    <div class="login-content">
                        <div class="form-group text-center">
                            <img src="../assets/images/otp-key-icon.png" style="padding: 35px 0;" />
                        </div>
                        <div class="form-group" style="margin-bottom: 25px;">
                            <input id="advisorOtp" ng-model="advisor.otp" type="number" class="form-control" name="advisorOtp" placeholder="OTP" autocomplete="off" maxlength='4' minlength='4' required>
                             <span ng-show="(advisorOtpForm.advisorOtp.$dirty || advisorOtpForm.$submitted) && advisorOtpForm.advisorOtp.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorOtpForm.advisorOtp.$error.maxlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 4 digit number"></i>
							</span>
                            <span ng-show="advisorOtpForm.advisorOtp.$error.minlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 4 digit number"></i>
							</span>
                        </div>
						 <div class="resendOtp text-center">
								 <a class="pointer" ng-click="resendOtp()"><b>Resend OTP</b></a>
                        </div>
						<div class="change-mobile text-center">
                            <span>Using different Number? <a ng-click="advisorLogin = true"><b>Change</b></a></span>
                        </div>
                        <div class="form-actions" style="margin-top: 25px">
                            <button type="submit" name="advisorOtpSubmit" class="btn btn-primary btn-lg btn-block login-button" ng-disabled="advisorOtpForm.$invalid" ng-click="submitOtp(advisor, advisorOtpForm.$valid)">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /Financial Advisor-->

            <!-- Client -->
            <div class="col-md-6 login-col">
				<!-- Signup -->
                <form name="clientSignupForm" ng-show="clientSignUp" novalidate>
                    <div class="login-form-header">
                        <h1 class="text-center ">Client Login </h1>
                    </div>
                    <div class="login-content">
                        <div class="form-group ">
                            <input id="firstname" ng-model="client.firstName" type="text" class="form-control" name="firstName" placeholder="First Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                            <span ng-show="(clientSignupForm.firstName.$dirty || clientSignupForm.$submitted) && clientSignupForm.firstName.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientSignupForm.firstName.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Firstname"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="lastname" ng-model="client.lastName" type="text" class="form-control" name="lastName" placeholder="Last Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                            <span ng-show="(clientSignupForm.lastName.$dirty || clientSignupForm.$submitted) && clientSignupForm.lastName.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientSignupForm.lastName.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Lastname"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="email" ng-model="client.email" type="email" class="form-control email" name="Email" placeholder="Email Id" autocomplete="off" ng-pattern="/^[a-z]+[a-z0-9]+@[a-z]+\.[a-z.]{2,5}$/" required>
                            <span ng-show="(clientSignupForm.Email.$dirty || clientSignupForm.$submitted) && clientSignupForm.Email.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientSignupForm.Email.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Email"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="phone" ng-model="client.mobile" type="number" class="form-control" name="phoneNumber" placeholder="Phone No" autocomplete="off" maxlength='10' minlength='10' required>
                            <span ng-show="(clientSignupForm.phoneNumber.$dirty || clientSignupForm.$submitted) && clientSignupForm.phoneNumber.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientSignupForm.phoneNumber.$error.maxlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                            <span ng-show="clientSignupForm.phoneNumber.$error.minlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                        </div>
                        <div class="terms advisor">
                            <input type="checkbox" id="advisorcheck" name="advisorcheck" ng-model="isFinancialAdvisor">
                            <label for="advisorcheck"><span>Do you have a Financial Advisor?</span></label>
                            <p ng-if="isFinancialAdvisor">Please complete your Financial Advisor Details</p>
                        </div>
                        <div class="terms client-terms" ng-class="{'is-financial-advisor' : isFinancialAdvisor}">
                            <input type="checkbox" id="clientTerms" name="clientTerms" ng-model="clientTerms" required>
                            <label for="clientTerms"><span>I agree with the <b>Terms & Conditions</b></span></label>
                            <span class="error-span" ng-show="(clientSignupForm.clientTerms.$dirty || clientSignupForm.$submitted) && clientSignupForm.clientTerms.$error.required">
								  Please indicate that you accept the <b>Terms & Conditions</b>
							</span>
                        </div>
                        <div class="form-actions" ng-if="!isFinancialAdvisor">
                            <button type="submit" name="clientSubmit" ng-disabled="clientSignupForm.$invalid" class="btn btn-primary btn-lg btn-block login-button" ng-click="registerUser(client, clientSignupForm.$valid)">Sign Up</button>
                        </div>
                        <div class="form-change-link text-center">
                            <span>Already have account? <a ng-click="clientSignUp = false"><b>Login</b></a></span>
                        </div>
                    </div>
                </form>
				
				<!-- Login -->
                <form name="clientLoginForm" ng-show="(clientLogin && !clientSignUp)" novalidate>
                    <div class="login-form-header">
                        <h1 class="text-center ">Client Login </h1>
                    </div>
                    <div class="login-content">
                        <div class="form-group text-center">
                            <img src="../assets/images/login-icon.png" style="padding: 35px 0;" />
                        </div>
                        <div class="form-group" style="margin-bottom: 25px;">
                            <input id="phone" ng-model="client.phone" type="number" class="form-control" name="phoneNumber" placeholder="Phone No" autocomplete="off" maxlength='10' minlength='10' required>
                            <span ng-show="(clientLoginForm.phoneNumber.$dirty || clientLoginForm.$submitted) && clientLoginForm.phoneNumber.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientLoginForm.phoneNumber.$error.maxlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                            <span ng-show="clientLoginForm.phoneNumber.$error.minlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" name="clientSubmit" class="btn btn-primary btn-lg btn-block login-button" ng-click="loginUser(client, clientLoginForm.$valid)" ng-disabled="clientLoginForm.$invalid">Login</button>
                        </div>
                        <div class="form-change-link text-center">
                            <span>Don't have account? <a ng-click="clientSignUp = true"><b>Sign up</b></a></span>
                        </div>
                    </div>
                </form>
				
				<!-- OTP -->
				<form name="clientOtpForm" ng-show="(clientOtp && !clientLogin)" novalidate>
                    <div class="login-form-header">
                        <h1 class="text-center ">Client Login</h1>
                    </div>
                    <div class="login-content">
                        <div class="form-group text-center">
                            <img src="../assets/images/otp-key-icon.png" style="padding: 35px 0;" />
                        </div>
                        <div class="form-group" style="margin-bottom: 25px;">
                            <input id="clientOtp" ng-model="client.otp" type="number" class="form-control" name="clientOtp" placeholder="OTP" autocomplete="off" maxlength="4" minlength="4" ng-pattern="/^\d+$/" required>
                            <span ng-show="(clientOtpForm.clientOtp.$dirty || clientOtpForm.$submitted) && clientOtpForm.clientOtp.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientOtpForm.clientOtp.$error.maxlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 4 digit OTP"></i>
							</span>
                            <span ng-show="clientOtpForm.clientOtp.$error.minlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 4 digit OTP"></i>
							</span>
							 <span ng-show="clientOtpForm.clientOtp.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid OTP"></i>
							</span>
                        </div>
						 <div class="resendOtp text-center">
								 <a class="pointer" ng-click="resendOtp()"><b>Resend OTP</b></a>
                        </div>
						<div class="change-mobile text-center">
                            <span>Using different Number? <a ng-click="clientLogin = true"><b>Change</b></a></span>
                        </div>
                        <div class="form-actions" style="margin-top: 25px">
                            <button type="submit" name="clientOtpSubmit" class="btn btn-primary btn-lg btn-block login-button"  ng-disabled="clientOtpForm.$invalid" ng-click="submitOtp(client, clientOtpForm.$valid)">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /Client -->
        </div>
    </div>
</div>
<!-- /Content -->