<!-- Content -->
<div id="login-content">
    <div class="container main-container">
        <div class="row no-margin">
            <div class="col-md-6 login-col">
                <form name="advisorForm" ng-submit="loginAdvisor(advisor,client);" novalidate>
                    <div class="login-form-header">
                        <h1 class="text-center ">Financial Advisor Login</h1>
                    </div>
                    <div class="login-content">
                        <div class="form-group ">
                            <input id="firstname" ng-model="advisor.firstName" type="text" class="form-control" name="firstname" placeholder="First Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                            <span ng-show="(advisorForm.firstname.$dirty || advisorForm.$submitted) && advisorForm.firstname.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorForm.firstname.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Firstname"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="lastname" ng-model="advisor.lastName" type="text" class="form-control" name="lastname" placeholder="Last Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                            <span ng-show="(advisorForm.lastname.$dirty || advisorForm.$submitted) && advisorForm.lastname.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorForm.lastname.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Lastname"></i>
							</span>
                        </div>

                        <div class="form-group ">
                            <input id="dealer" ng-model="advisor.dealer" type="text" class="form-control" name="dealer" placeholder="Dealer Group" autocomplete="off" required>
                            <span ng-show="(advisorForm.dealer.$dirty || advisorForm.$submitted) && advisorForm.dealer.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                        </div>
                        <div class="form-group">
                            <input id="mobile" ng-model="advisor.phone" type="number" class="form-control" name="mobile" placeholder="Mobile Phone" autocomplete="off" maxlength='10' minlength='10' required>
                            <span ng-show="(advisorForm.mobile.$dirty || advisorForm.$submitted) && advisorForm.mobile.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorForm.mobile.$error.maxlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                            <span ng-show="advisorForm.mobile.$error.minlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="email" ng-model="advisor.mail" type="email" class="form-control email" name="email" placeholder="Email Id" autocomplete="off" ng-pattern="/^[a-z]+[a-z0-9]+@[a-z]+\.[a-z.]{2,5}$/" required>
                            <span ng-show="(advisorForm.email.$dirty || advisorForm.$submitted) && advisorForm.email.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="advisorForm.email.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Email"></i>
							</span>
                        </div>
                        <div class="terms">
                            <input type="checkbox" id="advisorTerms" name="advisorTerms" ng-model="agreeTerms" required>
                            <label for="advisorTerms"><span>I agree with the <b>Terms & Conditions</b></span></label>
                            <span class="error-span" ng-show="(advisorForm.advisorTerms.$dirty || advisorForm.$submitted) && advisorForm.advisorTerms.$error.required">
								  Please indicate that you accept the <b>Terms & Conditions</b>
							</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" name="advisorSubmit" class="btn btn-primary btn-lg btn-block login-button" ng-click="submitted= true;">login in</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-col">
                <form name="clientForm" ng-submit="loginClient(client);" novalidate>
                    <div class="login-form-header">
                        <h1 class="text-center ">Client Login </h1>
                    </div>
                    <div class="login-content">
                        <div class="form-group ">
                            <input id="firstname" ng-model="client.firstName" type="text" class="form-control" name="firstName" placeholder="First Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                            <span ng-show="(clientForm.firstName.$dirty || clientForm.$submitted) && clientForm.firstName.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientForm.firstName.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Firstname"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="lastname" ng-model="client.lastName" type="text" class="form-control" name="lastName" placeholder="Last Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                            <span ng-show="(clientForm.lastName.$dirty || clientForm.$submitted) && clientForm.lastName.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientForm.lastName.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Lastname"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="email" ng-model="client.mail" type="email" class="form-control email" name="Email" placeholder="Email Id" autocomplete="off" ng-pattern="/^[a-z]+[a-z0-9]+@[a-z]+\.[a-z.]{2,5}$/" required>
                            <span ng-show="(clientForm.Email.$dirty || clientForm.$submitted) && clientForm.Email.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientForm.Email.$error.pattern">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Invalid Email"></i>
							</span>
                        </div>
                        <div class="form-group ">
                            <input id="phone" ng-model="client.phone" type="number" class="form-control" name="phoneNumber" placeholder="Phone No" autocomplete="off" maxlength='10' minlength='10' required>
                            <span ng-show="(clientForm.phoneNumber.$dirty || clientForm.$submitted) && clientForm.phoneNumber.$error.required">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="This field is required"></i>
							</span>
                            <span ng-show="clientForm.phoneNumber.$error.maxlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                            <span ng-show="clientForm.phoneNumber.$error.minlength">
							  <i class="fa fa-exclamation-triangle" aria-hidden="true" title="Please enter 10 digit number"></i>
							</span>
                        </div>
                        <div class="terms advisor">
                            <input type="checkbox" id="advisorcheck" name="advisorcheck" ng-model="isFinancialAdvisor">
                            <label for="advisorcheck"><span>Do you have a Financial Advisor?</span></label>
                            <p ng-if="isFinancialAdvisor">Please complete your Financial Advisor Details</p>
                        </div>
                        <div class="terms client-terms" ng-class="{'is-financial-advisor' : isFinancialAdvisor}">
                            <input type="checkbox" id="clientTerms" name="clientTerms" ng-model="clientTerms" required>
                            <label for="clientTerms"><span>I agree with the <b>Terms & Conditions</b></span></label>
							<span class="error-span" ng-show="(clientForm.clientTerms.$dirty || clientForm.$submitted) && clientForm.clientTerms.$error.required">
								  Please indicate that you accept the <b>Terms & Conditions</b>
							</span>
                        </div>
                        <div class="form-actions" ng-if="!isFinancialAdvisor">
                            <button type="submit" name="clientSubmit" class="btn btn-primary btn-lg btn-block login-button" ng-click="submitted=true;">login in</button>
                            <!--  <a href="#" type="button" ng-click="login('client')"  class="btn btn-primary btn-lg btn-block login-button">login in</a> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Content -->
