<!--Welcome Content -->
<div id="welcome-content">
    <div class="main-container welcome-container" ng-scrollbars ng-scrollbars-config="config">
        <div class="container">
            <div class="row no-margin" style="padding-top: 63px">
                <h2>Welcome</h2>
                <h1>{{LoggedName}}!</h1>
                <h3>Now you are logged in and you can browse to different menus</h3>
                <!-- Advisor Login-->
                <div class="row welcome-intro">
                    <div class="advisor-content" ng-if="selectedRole === USER_ROLE.ADVISOR">
                        <div class="col-md-9">
                            <img src="../assets/images/cloud-down.png" />
                            <a ng-click="saveTemplateDoc()">
                                <p>Sample statement of advice introduction file</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-right">
                            <a ng-click="showInstructionsModal()">Click here for instructions</a>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-12">
                                <div id="grid" ui-grid="advisorListData" class="grid" ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                    <!-- /Advisor Login-->
                    <!-- Administrator Login-->
                    <div class="administrator-content" ng-if="selectedRole === USER_ROLE.ADMIN">
                        <div class="row no-margin">
                            <div class="col-md-9">
                                <div class="btn-group">
                                    <!--                                    <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Left'" uib-uncheckable="uncheckable">Your Client List</label>-->
                                    <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" uib-uncheckable="uncheckable">Advisors</label>
                                    <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Clients</label>
                                </div>
                            </div>
                            <div class="col-md-3 text-right">
                                <a href="#">Click here for instructions</a>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <!-- Administrator Client List -->
                            <div class="col-md-12">
                                <div id="grid2" ui-grid="administratorCLientListData" class="grid" ng-if="radioModel == 'Left'" ui-grid-auto-resize></div>
                                <!--Master Advisor List -->
                                <div class="row no-margin" ng-if="radioModel == 'Middle'">
                                    <div class="col-md-12" style="padding: 12.5px 20px;color: #9fe7f7; background: #062135;font-family: AvantGardeBookBT;font-size: 18px;font-weight: 100;letter-spacing: 1px;">
                                        Name
                                    </div>
                                </div>
                                <div class="master-advisor-accordion" ng-if="radioModel == 'Middle'">
                                    <uib-accordion close-others=true>
                                        <uib-accordion-group ng-repeat="advisor in masterAdvisors" ng-scroll="advisor in masterAdvisors" is-open="openIndex[$index]" ng-click="showAdvisorsClientList(advisor._id, $index)">
                                            <uib-accordion-heading ng-model="checkTitle">
                                                {{advisor.firstName + ' ' + advisor.lastName}}
                                            </uib-accordion-heading>
                                            <!--                                            <a>{{advisorList.content}}</a>-->
                                            <ul>
                                                <li ng-repeat="client in advisorsClientList">{{client.firstName + ' '+ client.lastName}}</li>
                                            </ul>
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>
                                <!-- Master Clients List -->
                                <div id="grid2" ui-grid="administratorMasterClientListData" class="grid" ng-if="radioModel == 'Right'" ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                    <!-- /Administrator Login-->
                    <!-- Client Login-->
                    <div class="advisor-content" ng-if="selectedRole === USER_ROLE.CLIENT">
                        <div class="col-md-9" ng-if="fileExist">
                            <img src="../assets/images/cloud-down.png" />
                            <a ng-click="saveDocForClient()">
                                <p>Your Advisor uploaded file. Click here to download</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-right">
                            <!-- <a>Click here for instructions</a> -->
                        </div>
                        <!-- <div class="row no-margin">
                            <div class="col-md-12">
                                <div id="grid1" ui-grid="advisorListData" class="grid" ui-grid-auto-resize></div>
                            </div>
                        </div> -->
                    </div>
                    <!-- /Client Login-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Welcome Content -->

<!-- change Advisor Modal -->
<script type="text/ng-template" id="changeAdvisorModal.html">
    <div class="modal-header">
        <h4 class="modal-title">{{clientName}}</h4>
    </div>
    <div class="modal-body">
        <p>Change Your Advisor : </p>
        <select id="" class="form-control" ng-init="selectedAdvisor" ng-model="selectedAdvisor" ng-options="advisorObject.id as advisorObject.name for advisorObject in advisorList" name="advisorList" placeholder="Select your Advisor" required>
            <option value="" disabled selected>Please select Your Advisor</option>
        </select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="changeAdvisor()">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- upload file Modal -->
<script type="text/ng-template" id="uploadFileModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Upload File</h4>
    </div>
    <div class="modal-body">
        <a class='upload-word action-icon'><i></i></a>
        <p style="display: inline-block;margin-left: 15px;position: relative;bottom: 13px;">Are you sure, you want to upload {{file.name}} ?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="uploadFile()">upload</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- Instructions Modal -->
<script type="text/ng-template" id="showInstructions.html">
    <div class="modal-header">
        <h4 class="modal-title">Instructions</h4>
    </div>
    <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elit ligula, euismod sed vulputate et, convallis at arcu. Vestibulum eu dolor non felis fermentum hendrerit sed sit amet est. Aliquam eu diam at nisl dictum tristique id vel massa. Nullam diam enim, faucibus quis elit sit amet, maximus lobortis purus. In pulvinar risus vitae massa luctus, sit amet egestas risus porta. Nulla facilisi. Donec faucibus nec ipsum eu vestibulum. Aenean posuere lorem at neque dapibus tempor. Suspendisse at velit et risus euismod molestie vel eu sem. Nam nec nisi nec lectus gravida tristique sed id felis. Duis ullamcorper eros at dolor semper venenatis. Integer ante massa, cursus eget sem sed, vehicula semper risus. Cras viverra iaculis eros, sit amet tristique ipsum elementum nec. Ut malesuada lectus justo. Aenean commodo consequat viverra. Phasellus hendrerit erat in scelerisque rhoncus.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="close()">Ok</button>
        <!--        <button class="btn btn-default" ng-click="cancel()">Cancel</button>-->
    </div>
</script>

<!-- Instructions Modal -->
<script type="text/ng-template" id="haveFinancialAdvisor.html">
    <div class="modal-header">
        <h4 class="modal-title">Do you have a Financial Advisor?</h4>
    </div>
    <div class="modal-body">
        <form name="financialAdvisorInviteForm" novalidate>
            <div class="form-group ">
				<label>First Name</label>
                <input id="firstname" ng-model="invite.firstName" type="text" class="form-control" name="firstName" placeholder="First Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                <span ng-show="(financialAdvisorInviteForm.firstName.$dirty || financialAdvisorInviteForm.$submitted) && financialAdvisorInviteForm.firstName.$error.required">
					<p class="error">This field is required</p>
							</span>
                <span ng-show="financialAdvisorInviteForm.firstName.$error.pattern">
					<p class="error">Invalid Firstname</p>
							</span>
            </div>
            <div class="form-group ">
				<label>Last Name</label>
                <input id="lastname" ng-model="invite.lastName" type="text" class="form-control" name="lastName" placeholder="Last Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
                <span ng-show="(financialAdvisorInviteForm.lastName.$dirty || financialAdvisorInviteForm.$submitted) && financialAdvisorInviteForm.lastName.$error.required">
							  <p class="error">This field is required</p>
							</span>
                <span ng-show="financialAdvisorInviteForm.lastName.$error.pattern">
							  <p class="error">Invalid Lastname</p>
							</span>
            </div>
            <div class="form-group ">
				<label>Email</label>
                <input id="email" ng-model="invite.email" type="email" class="form-control email" name="Email" placeholder="Email Id" autocomplete="off" ng-pattern="/^[a-z]+[a-z.-0-9]+@[a-z]+\.[a-z.]{2,6}$/" required>
                <span ng-show="(financialAdvisorInviteForm.Email.$dirty || financialAdvisorInviteForm.$submitted) && financialAdvisorInviteForm.Email.$error.required">
							   <p class="error">This field is required</p>
							</span>
                <span ng-show="financialAdvisorInviteForm.Email.$error.pattern">
							  <p class="error">Invalid Email</p>
							</span>
            </div>
            <div class="form-group ">
				<label>Phone No.</label>
                <input id="phone" ng-model="invite.mobile" type="number" class="form-control" name="phoneNumber" placeholder="Phone No" autocomplete="off" maxlength='10' minlength='10' required>
                <span ng-show="(financialAdvisorInviteForm.phoneNumber.$dirty || financialAdvisorInviteForm.$submitted) && financialAdvisorInviteForm.phoneNumber.$error.required">
					<p class="error">This field is required</p>
							</span>
                <span ng-show="financialAdvisorInviteForm.phoneNumber.$error.maxlength">
					<p class="error">Please enter 10 digit number</p>
							</span>
                <span ng-show="financialAdvisorInviteForm.phoneNumber.$error.minlength">
					<p class="error">lease enter 10 digit number</p>
							</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="close()" ng-disabled="financialAdvisorInviteForm.$invalid">Submit</button>
                <button class="btn btn-default" ng-click="close()">Cancel</button>
    </div>
</script>