	/* Global Reset & Standards ---------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
/**
* Minimal base styles.
*/

* {
	margin: 0;
	padding: 0;
}

p {
	/*font-family: Arial, sans-serif;*/
	font-size: 12px;
	/*color: #e5bddd;*/
	line-height: 22px;
	/*margin-bottom: 23px;*/
}

ul {
	margin: 0;
	padding: 0;
}

ul.sub-menu {
	display: none;
}

.menu-item-has-children:hover ul.sub-menu {
	display: block;
}

ul li {
	list-style: none;
}

strong {
	font-weight: 700;
}

html {
	font-size: 100.01%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 62.5%;
	line-height: 1em;
	background-size: 100% auto;
	/*background-color: #e0e0e0;
	background: url("../images/landingPage-bg.png") no-repeat;
	background-size: cover;*/
	overflow-x: hidden;
}

a {
	display: inline-block;
}

a:link,
a:visited {
	text-decoration: none;
	cursor/**/
	: /**/
	pointer;
}

:focus {
	outline: 0;
}
/*
* Clearing Methods
*/

.clearfix:after {
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: block;
}

.clear {
	clear: both;
	height: 1px;
	line-height: 1px;
}
/* Generic Clases ---------------------- */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (min-width: 1370px) {
	.main-container {
		max-width: 1366px;
		margin: 0 auto;
		box-shadow: 0 0 25px #999;
	}
}
/*---- Floats ----*/

.fr {
	float: right !important;
}

.fl {
	float: left !important;
}
/*---- Padding ----*/

.no-padding {
	padding: 0 !important;
}

.pr5 {
	padding-right: 5px;
}

.pl0 {
	padding-left: 0px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pr0 {
	padding-right: 0px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt20 {
	padding-top: 20px !important;
}
/*---- Margin ----*/

.no-margin {
	margin: 0 !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.ml40 {
	margin-left: 40px !important;
}

.mr40 {
	margin-right: 40px !important;
}
/*---- Horizontal Alignment ----*/

.tr {
	text-align: -webkit-right;
}

.tc {
	text-align: -webkit-center;
}

.tl {
	text-align: -webkit-left;
}
/*---- Hide ----*/

.hide {
	display: none;
}

.uppercase {
	text-transform: uppercase;
}

.no-border {
	border: none !important;
}

.bold {
	font-weight: bold !important;
}
/* -- Heading -- */

.heading h2 {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 56px;
	margin: 31px 0;
	font-family: LatoLight;
	font-size: 30px;
	letter-spacing: 2px;
}

.primary-btn {
	background: #4aaef1;
	color: #fff !important;
	padding: 11px 18px !important;
	font-size: 14px;
	font-family: LatoRegular;
}
/* -- Specific Code --  */

.custom-btn {
	margin: 0 10px;
	line-height: 15px;
	text-align: center;
}
/* Container
*/

.container {
	width: 1366px;
    padding: 65px 66px;
	margin: 0 auto;
}

/*Tables*/
 table, th , td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
	}

	table tr:nth-child(odd) {
	background-color: #f2f2f2;
	}

	table tr:nth-child(even) {
	background-color: #ffffff;
}

/*Left View Image*/
.main-image{
	background: url(../images/left-view-image.png) no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
}

/* Header*/
#header{
	display: inline-block;
	margin: 65px 66px;
}

/*Content*/
#content{
	background: url(../images/yacht-right-image.png) no-repeat;
}

/* Card component*/

.card {
	background-color: rgba(0, 0, 0, 0.25);
	margin-top: 69px;
	max-width: 348px;
}
/*
* Form styles
*/

.card-container h3 {
	color: #f5f5f5;
    text-align: -webkit-center;
    font-family: LatoBold;
    padding: 22.5px 0;
    background: rgba(0, 0, 0, 0.40);
    font-size: 22px;
    font-family: AvantGardeBookBT;
}

.form-signin ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(245, 245, 245, 0.38);;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.form-signin ::-moz-placeholder {
	/* Firefox 19+ */
	color:rgba(245, 245, 245, 0.38);;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.form-signin :-ms-input-placeholder {
	/* IE 10+ */
	color:rgba(245, 245, 245, 0.38);;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.form-signin :-moz-placeholder {
	/* Firefox 18- */
	color: rgba(245, 245, 245, 0.38);;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.form-signin {
	padding: 15px 30px 30px 30px;
}

.form-signin .form-group {
	margin-bottom: 10px;
	position: relative;
}

.form-signin .checkbox input[type=checkbox] {
	height: 18px;
	width: 16px;
}

.form-signin .checkbox span {
	/* margin-top: 4px; */
	font-size: 13px;
	color: #000;
	position: relative;
	top: 8px;
	font-family: LatoRegular;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin .btn {
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	font-family: LatoRegular;
	height: 43px;
	border-radius: 0;
	border: 1px solid #87949f;
}

.form-signin .form-control:focus {
	border-color: rgb(255, 255, 255);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(255, 255, 255);
}

.btn.btn-signin {
	background-color: rgba(255, 255, 255, 0.25);
	padding: 0px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
	margin-top: 20px;
	margin-bottom: 0px;
	font-family: LatoLight;
    border: 2px solid #fff;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
	background-color: #057993;
}

.forgot-password {
	color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
	color: rgb(12, 97, 33);
}
/*Footer*/

.footer-nav {
	background: #228da5;
	height: auto;
	padding: 47px 0 40px 36px;
	border: 2px solid #92b6be;
}

.footer-nav h4 {
	font-size: 24px;
	font-family: AvantGardeBookBT;
	color: #fff;
	/* line-height: 73.66px; */
	text-transform: capitalize;
	margin-bottom: 34px;
	position: relative;
	margin-top: 0;
	letter-spacing: 1px;
}

.footer-nav h4:after {
	display: block;
	content: '';
	border-bottom: solid 3px #fff;
	/* transform: scaleX(0); */
	transition: transform 250ms ease-in-out;
	/* transform-origin: 0% 50%; */
	left: 0px;
	right: 85%;
	position: absolute;
	bottom: -5px;
}

.footer-nav li {
	margin-bottom: 15px;
}

.footer-nav p {
	font-size: 16px;
	color: #eae8e8;
	margin-bottom: 28px;
	font-family: LatoRegular;
	line-height: 19px;
	/*    text-shadow: 0 0 0 #fff;*/
}

.calc-section {
	padding-top: 27px;
}

.calc-list-name {
	padding-top: 87px;
}

.calc-section p {
	font-size: 18px;
	margin-bottom: 38px;
}

.footer-icon {
	display: inline-block;
	width: 37px;
	height: 37px;
	position: absolute;
	left: 10px;
}

.location-icon {
	background-image: url(../images/address_white.png);
	background-repeat: no-repeat;
}

.phone-icon {
	background-image: url(../images/mobile_white.png);
	background-repeat: no-repeat;
	bottom: 65px;
}

.mail-icon {
	background-image: url(../images/email_white.png);
	background-repeat: no-repeat;
	bottom: 18px;
}

.footer-nav ul.contact {
	padding: 42px 0 0 47px;
}

.footer {
	padding: 15px 0;
	background-color: #000;
}

.footer ul li {
	float: left;
	margin-right: 22px;
}

.footer ul li a {
	color: #808080;
	font-size: 12px;
	font-weight: 600;
	font-family: LatoLight;