/* Global Reset & Standards ---------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/**
* Minimal base styles.
*/

* {
    margin: 0;
    padding: 0;
}

p {
    /*font-family: Arial, sans-serif;*/
    font-size: 12px;
    /*color: #e5bddd;*/
    line-height: 22px;
    /*margin-bottom: 23px;*/
}

ul {
    margin: 0;
    padding: 0;
}

ul.sub-menu {
    display: none;
}

.menu-item-has-children:hover ul.sub-menu {
    display: block;
}

ul li {
    list-style: none;
}

strong {
    font-weight: 700;
}

html {
    /* font-size: 100.01%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;*/
}

body {
    line-height: 1em;
    background-size: 100% auto;
    /*background-color: #e0e0e0;
background: url("../images/landingPage-bg.png") no-repeat;
background-size: cover;*/
    overflow: hidden;
}

a {
    display: block;
}

a:link,
a:visited {
    text-decoration: none;
    cursor/**/
    : /**/
    pointer;
}

:focus {
    outline: 0;
}


/*
* Clearing Methods
*/

.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

.clear {
    clear: both;
    height: 1px;
    line-height: 1px;
}


/* Generic Clases ---------------------- */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 1370px) {
    .main-container {
        max-width: 1366px;
        margin: 0 auto;
        box-shadow: 0 0 25px #999;
    }
}


/*---- Floats ----*/

.fr {
    float: right !important;
}

.fl {
    float: left !important;
}


/*---- Padding ----*/

.no-padding {
    padding: 0 !important;
}

.pr5 {
    padding-right: 5px;
}

.pl0 {
    padding-left: 0px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}


/*---- Margin ----*/

.no-margin {
    margin: 0 !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.mr40 {
    margin-right: 40px !important;
}


/*---- Horizontal Alignment ----*/

.tr {
    text-align: -webkit-right;
}

.tc {
    text-align: -webkit-center;
}

.tl {
    text-align: -webkit-left;
}


/*---- Hide ----*/

.hide {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.no-border {
    border: none !important;
}

.bold {
    font-weight: bold !important;
}

.pointer{
	cursor: pointer;
}

/*** Grid ***/

.ui-grid .ui-grid-render-container-body .ui-grid-viewport {
    overflow: hidden !important;
}

.grid{
	height: 525px !important;
	border: none !important;
}

.ui-grid-header{
	border-bottom: none !important;
}

.ui-grid-header-cell{
	border-color: #565656;
}

/*.ui-grid-cell-contents{
	padding: 12px 15px;
}*/

.ui-grid-cell .ui-grid-cell-contents{
	font-family: LatoRegular;
	font-size: 16px;
	color: #191717;
	text-shadow: 0 0 0 #191717;
	padding: 20px;
}

.ui-grid-top-panel {
    position: relative;
    color: #9fe7f7;
    overflow: hidden;
    background: #062135;
	font-family: AvantGardeBookBT;
	font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
	padding: 7.5px 0;
}

.ui-grid-row .ui-grid-cell{
	background-color: #e8ecee !important;
	height: 57px !important;
}

.ui-grid-cell {
    border-color: #f8f9f9;
}

.ui-grid-header-cell{
	padding: 0 15px;
}


/* -- Heading -- */

.heading h2 {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 56px;
    margin: 31px 0;
    font-family: LatoLight;
    font-size: 30px;
    letter-spacing: 2px;
}

.btn-primary {
    color: #fff;
    background-color: rgba(245, 245, 245, 0.18);
    border-color: #f5f5f5;
    border-radius: 0;
    padding: 20.5px 16px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #0d2f47 !important;
    background-color: #fff !important;
}


/* Container
*/

.container {
    width: 762px;
    margin: 0 auto;
    padding: 0;
}

.main-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
}


/*ng-scrollable*/

.mCSB_inside>.mCSB_container {
    margin-right: 0;
}


/*Tables*/

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}


/*Left View Image*/

.main-image {
    background: url(../images/left-view-image.png) no-repeat;
    position: fixed;
    height: 661px;
    width: 473px;
}


/*** Menu ***/


/* Header*/

#header {
    display: inline-block;
    /*margin: 65px 66px;*/
}


/*Hamburg Menu*/

#menuToggle {
    display: block;
    position: relative;
    top: 1px;
    left: 109px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    background: rgba(0, 0, 0, 0.6);
    width: 47px;
    padding: 11.5px;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
    background: transparent;
}





/*
 * Just a quick hamburger
 */

#menuToggle span {
    display: block;
    width: 23px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    ;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    left: 2px;
    top: 2px;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 2px);
    background: #ffffff;
}


/*
 * But let's hide the middle one.
 */

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
    position: absolute;
    width: 360px;
    height: 530px;
    margin: -36px 0 0 36px;
    /* padding: 50px; */
    /* padding-top: 125px; */
    background: rgba(0, 0, 0, 0.6);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* display: none; */
    transform-origin: 0% 0%;
    transform: translate(-100%, -150%);
    opacity: 0;
    /* transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); */
    transition: 0.5s all;
    /* display: none; */
}

#menu li {
    padding: 10px 0;
    
}

.menu-items
{
    margin-top: 90px;
    text-align: center;
    font-size: 34px;
    color: white;
    text-transform: uppercase;
    font-family: AvantGardeBookBT;
}

.menu-items1
{
   
    text-align: center;
    font-size: 34px;
    color: white;
    text-transform: uppercase;
    margin: 26px 0px;
    font-family: AvantGardeBookBT;
}

.user-menu
{
        margin-top: 100px;
}

.user-left
{
        float: left;
    width: 50%;
    text-align: center;
}

.user-right
{
        float: right;
    width: 50%;
    text-align: center;
        margin-top: -2px;
}

.user-menu-name
{
    color: white;
     font-family: AvantGardeBookBT;
    margin-top: 5px;
    letter-spacing: 1px;
        margin-left: 10px;
}

.arrow-icon-menu
{
    padding-left: 5px;
}

/*
 * And let's fade it in from the left
 */

#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    */ transition: 0.5s all;
    opacity: 1;
    transform: translate(-100%, 0%);
}


/*** Login ***/

#login-content {
    background: url(../images/main-bg.png) no-repeat;
    height: 662px;
}

.login-content {
    padding: 24px;
    background: rgba(0, 0, 0, 0.30);
    height: 471px;
}

.login-form-header {
    background-color: rgba(0, 0, 0, 0.65);
    color: #fff;
}

.login-form-header h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: AvantGardeBookBT;
    font-size: 22px;
    line-height: 16px;
    padding: 26.5px 38px;
}

.login-content .form-group {
    margin-bottom: 22px;
}

.login-content .form-group:last-child {
    margin-bottom: 8px;
}

.login-content .form-group:nth-child(4) {
    margin-bottom: 10px;
}

.login-content .form-control {
    background: transparent;
    border-radius: 0;
    border: 1px solid #899298;
    box-shadow: none;
    height: 57px;
    color: rgba(255, 255, 255, 0.70);
    text-transform: uppercase;
    /* font-size: 14px; */
    text-align: -webkit-center;
    font-family: HelveticaLT;
}

.login-content .form-control:active,
.login-content .form-control:focus {
    border: 1px solid #fff;
}

.login-content input[type="checkbox"] {
    display: none;
}

.login-content label {
    cursor: pointer;
}

.terms {
    margin-bottom: 17px;
}

.terms span {
    display: inline-block;
    margin-top: 5px;
    color: #fff;
    font-size: 13px;
    font-family: HelveticaLT;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.terms.advisor p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 15.5px;
    padding-left: 30px;
    margin-top: 5px;
    line-height: 21.5px;
}

.advisor {
    margin-bottom: 10px;
}

.client-terms {
    margin-bottom: 49px;
}


/*if financial advisor is checked*/

.is-financial-advisor {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.login-content input[type="checkbox"] + label:before {
    border: 1px solid #aaafb3;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 20px;
    margin: 0 10px 0 0;
    padding: 0;
    vertical-align: top;
    width: 20px;
}

.login-content input[type="checkbox"]:checked + label:before {
    background: transparent;
    color: #fff;
    content: "\2713";
    text-align: center;
    font-size: 19px;
}

.login-content input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}

.login-content input[type=number]::-webkit-inner-spin-button,
.login-content input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8d969b;
    text-align: center;
    text-transform: uppercase;
    font-family: HelveticaLT;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #8d969b;
    text-align: center;
    text-transform: uppercase;
    font-family: HelveticaLT;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #8d969b;
    text-align: center;
    text-transform: uppercase;
    font-family: HelveticaLT;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #8d969b;
    text-align: center;
    text-transform: uppercase;
    font-family: HelveticaLT;
}


/*** Welcome ***/

#welcome-content {
    background: url(../images/welcome-bg.png) no-repeat;
    height: 662px;
    background-size: 100% 100%;
}

.welcome-container {
/*    padding-top: 45px;*/
	height: 100%;
    top: 2px;
}

.welcome-container h2 {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    font-family: LatoRegular;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.welcome-container h1 {
    font-size: 37.5px;
    color: rgba(255, 255, 255, 0.9);
    font-family: AvantGardeBookBT;
    margin-top: 8px;
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.welcome-container h3 {
    font-size: 20px;
    color: rgba(254, 253, 253, 0.75);
    font-family: LatoRegular;
    letter-spacing: 0.5px;
    margin-top: 0;
}


/***Advisor Login***/

.welcome-intro p {
    display: inline;
    font-size: 15px;
    line-height: 48px;
    font-family: LatoRegular;
    color: #fff;
    margin-left: 10px;
    letter-spacing: 1px;
}

.welcome-intro a {
    font-size: 13px;
    line-height: 48px;
    font-family: LatoRegular;
    color: #fff;
    display: inline-block;
}

a.download-pdf i{
	background-image: url(../images/download-pdf-icon.png);
}

a.action-icon i{
	 background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-block;
}

a.upload-word i{
	background-image: url(../images/upload-word-icon.png);
}

.download-pdf,
.edit-action{
	padding: 10px 15px;
}

.action-icon{
	display: inline-block;
}

/*** Administartor Login ***/
.btn-group{
	width: 100%;
	margin-top: 35px;
	margin-bottom: 12px;
}

.btn-group .btn{
	width: 33.33%;
	text-transform: uppercase;
	border-radius: 0;
}

.btn-group .btn-success {
    color: #c0c9cf;
    background-color: transparent;
    border-color: #9eadb7;
	font-family: LatoRegular;
	font-size: 13px;
}

.btn-group .btn-success:hover,
.btn-group .btn-success:focus,
.btn-group .btn-success:active, 
.btn-group .btn-success:active, 
.btn-group .open>.dropdown-toggle.btn-success{
    color: #062135;
    background-color: #fff;
    border-color: #fff;
    font-weight: bold;
}

.btn-success.active,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover{
	color: #062135;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
    /* text-shadow: 0 0 0 #062135; */
    font-weight: bold;
}

/*Change Advisor Login Modal*/
.modal-footer .btn-success{
	color: #fff;
    background-color: #113956;
    border-color: #113956;
}

.modal-footer .btn-success:hover {
    color: #fff;
    background-color: #062135;
    border-color: #062135;
}

/*Master Advisor accordion*/
.panel-default>.panel-heading {
    color: #333;
    background-color: #cfcaca;
    border-color: transparent;
    padding: 0;
    border: none;
	    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default {
    border-color: transparent;
	box-shadow: none;
	border-radius: 0 !important;
	border: none;
}

.panel-default .panel-heading{
	background-image: url(../images/arrow-down-dark.png);
	background-repeat: no-repeat;
	background-position: right 40px center;
}

.panel-open .panel-heading{
	background-image: url(../images/arrow-up-dark.png);
	background-repeat: no-repeat;
	background-position: right 40px center;
}

.panel-group{
	background: #e8ecee;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
	background: #e8ecee;
    padding: 0;
}

a.accordion-toggle{
	display: block !important;
    padding: 0 20px;
    font-family: LatoRegular !important;
    font-size: 16px !important;
    color: #062135 !important;
    text-transform: uppercase;
    font-weight: bold;
	outline: none;
}

.administrator-content .col-md-3{
	margin-top: 25px;
} 

.master-advisor-accordion li{
	padding: 17px 15px;
	color: #191717;
	font-size: 16px;
	font-family: LatoRegular;
	text-shadow: 0 0 0 #191717;
}

a.edit-action i{
	background-image: url(../images/edit-action.png);
}

/*** Super Calculator ***/

#super-calc-content {
    background: url(../images/super-calc-bg.png) no-repeat;
    height: 662px;
}

.super-calc-container {
    top: 2px;
}

.super-calc-container .page-content {
    padding-top: 63px;
}

.super-calc-heading h3 {
    color: rgba(255, 255, 255, 0.9);
    line-height: 22px;
    text-transform: uppercase;
    font-size: 19.5px;
    margin-bottom: 5px;
    margin-top: 0;
    letter-spacing: 1px;
}

.super-calc-heading p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 0;
}



/****goal-based**/


.padding-zero
{
    padding: 0;
}

.goal-heading h3 {
    color: rgba(255, 255, 255, 0.9);
    line-height: 22px;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5px;
}

.goal-block
{   
    
    margin-top: 10px;
    width:765px;
    height:260px;
    background: #0d2f47;
}

.img-block
{
    height:233px;
    width:230px;
    border:1px dashed #0f8b8f;
    margin-top: 14px;
    margin-left: 10px;
}

.goalblock-heading
{
    font-family: AvantGardeBookBT;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 5px;

}

.goal-text-block
{
    margin-top: 10px;
    margin-left: 15px;
    padding-right: 15px;
}

.goalblock-text
{
     color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    margin-bottom: 5px;

}

.text-margin
{
    margin-top: 5px;
}

.goalblock-subhead
{
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
}

.goal-button
{
    margin-top: 14px;
    height: 35px;
    width: 175px;
    border: 1.5px solid white;
    background: rgba(255, 255, 255, 0.18);
    color: white;
}


.goalbased-list li::before 
{
    background: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
}

.goal-button:focus
{
    
    outline: none;
}

.goal-img
{
    width: 218px;
    height: 220px;
    margin-top: 5px;
    margin-left: 5px;
}

/*goal-based*/////


